- if current_tenant.account.facebook.present?
  = link_to "", current_tenant.account.facebook, class: 'facebook-button', data: {:"no-turbolink" => true}

- if current_tenant.account.twitter.present?
  = link_to "", current_tenant.account.twitter, class: 'twitter-button', data: {:"no-turbolink" => true}
