%fieldset
  - placeholder = f.object.name if f.object.file.file
  %div{style: 'float: left; min-width: 400px;'}
    = f.file_field :file, data: {customfile: true, placeholder: placeholder || "Geen bestand geselecteerd"}
    %br/
  = link_to "", '#', class: 'remove_fields button button-link', data: {icon: 'x'}
  = f.hidden_field :_destroy
  %br/
