%li.dd-item{data: {id: page.id}}
  %div.dd-handle
    = link_to edit_admin_page_path(page), class: 'button button-link button-small sortable-link' do
      = page.menu_title
      - unless page.show_in_menu
        %small (onzichtbaar)

      - if page.skip_to_first_child
        %small (doorsturen naar 1<sup>e</sup> subpagina)

    %span.pull-right= link_to "Bewerken", edit_admin_page_path(page), class: 'button button-small button-link', data: {icon: 'q'}

  - if page.children.present?
    %ol.dd-list
      = render partial: 'page', collection: page.children.sorted