%div
  %table{style: 'width: 100%'}
    %tr
      %td= link_to page.menu_title, edit_admin_page_path(page), class: 'button button-plain-link'
      %td{style: 'text-align: right; padding-right: 32px'}
        = link_to "Bewerken", edit_admin_page_path(page), class: 'button button-plain', data: {icon: 'p'}