
.well
  %h1 Pagina's

.sortable-list-container
  %ol.sortable{data: {:"update-url" => update_positions_admin_pages_url }}
    = render partial: 'page', collection: @pages.roots


.actions
  .button-well
    = link_to "Nieuwe pagina", new_admin_page_path, class: 'button button-primary', data: {icon: '&'}