- if current_user.present?
  #admin_bar
    .admin-button-well.admin-button-well-dark
      .admin-button-group
        = link_to "Bewerk je website", admin_root_url, data: {:"no-turbolink" => true}, class: 'admin-button admin-button-dark'
        = link_to "Uitloggen", admin_logout_path, data: {:"no-turbolink" => true}, class: 'admin-button admin-button-dark'
