%ul
  - @pages.each do |page|

    %li{class: nav_link_class(page)}
      = link_to page.menu_title, page

      - if page.pages.size > 0
        %ul
          - page.pages.each do |child_page|
            %li{class: nav_link_class(child_page)}
              = link_to child_page.menu_title, child_page

