= form_tag admin_sessions_path, id: "login_wrapper" do

  .row
    .column-half
      = text_field_tag :email, params[:email], placeholder: "Emailadres"
    .column-half
      = password_field_tag :password, nil, placeholder: "Wachtwoord"

  = button_tag "Inloggen", class: 'button button-primary', data: {icon: 'i'}
