var hidden_input = $("input[name='<%= j params[:page_part_id] %>[photo_tokens]']");
hidden_input.parents('td').find('.image, .placeholder').remove();

<% if @photos.present? %>
  var photo_collection = $("<%= j render partial: 'photo_collection', locals: {photos: @photos} %>");
  hidden_input.parents('td a').append(photo_collection);
  hidden_input.val("<%= @photos.map(&:id).join(',') %>");
<% else %>
  hidden_input.parents('td').find('a').prepend("<div class='placeholder'><span data-icon='t'>Kies uit bibliotheek</span></div>");
  hidden_input.val("");
<% end %>

$.hideModal();
