var hidden_input = $("input[name='<%= j params[:page_part_id] %>[page_partable_id]']");
hidden_input.parents('td').find('a .image').remove();
hidden_input.parents('td').find('a').prepend("<div class='image'><img src='<%= @photo.file.thumb %>' /></div>");
hidden_input.val("<%= @photo.id %>");
$.hideModal();
