= form_for [:admin, current_account] do |f|
  .table-container
    %table.table.table-form
      %tr
        %td
          %label Google Analytics
        %td
          = f.text_field :google_analytics, placeholder: "Google Analytics code", class: 'large'

  %button.button.button-primary{type: 'submit', data: {icon: 'o'}}
    Google Analytics opslaan
