- content_for :secondary_navigation do
  %nav#secondary
    %h1 Gebruikers

    %ul
      %li{class: ('active' if params[:controller] == "spina/admin/users")}
        = link_to "Gebruikers", admin_users_path, data: {icon: 'x'}

- content_for :content do
  = yield

= render template: "layouts/spina/admin/application"