%aside#notifications
  - if flash[:notice]
    .notification{data: {icon: 'L'}}
      %p
        = flash[:notice]
        %small Wist je dat de eerste versie van Spina ontwikkeld is in slechts een week tijd?

  - if content_for?(:notification_alert) 
    = yield(:notification_alert)

  - else
    - if flash[:alert]
      .notification.notification-error{data: {icon: 'm'}}
        %p 
          Oeps! Er is iets mis gegaan
          %small= flash[:alert]