%aside#notifications
  - if flash[:notice]
    .notification{data: {icon: 'l'}}
      %p= flash[:notice]

  - if flash[:alert]
    .notification.notification-error{data: {icon: 'l'}}
      %p 
        Oeps! Er is iets mis gegaan
        %small= flash[:alert]