= attachmentcollection_form.fields_for :page_partable, attachmentcollection_form.object.page_partable do |form|
  = form.fields_for :attachments do |attachment_form|
    = render 'attachment_fields', f: attachment_form

  = link_to_add_fields "Bestand toevoegen", form, :attachments
