.well
  %h1 Social media

= form_for current_account do |f|
  .table-container.table-form
    %table.table
      %tr
        %td
          %label Facebook
        %td
          = f.text_field :facebook, placeholder: "Facebook"

      %tr
        %td
          %label Twitter
        %td
          = f.text_field :twitter, placeholder: "Twitter"

  .actions
    .button-well
      %button.button.button-primary{type: 'submit', data: {icon: 'v'}}
        Social media opslaan
