.well
  %h1 denkWebsite

= form_tag sessions_path do
  .table-container
    %table.table.table-form
      %tbody
        %tr
          %td
            %label Email
          %td
            = text_field_tag :email, params[:email], placeholder: "Emailadres"

        %tr
          %td
            %label Wachtwoord
          %td
            = password_field_tag :password, nil, placeholder: "Wachtwoord"

  .actions
    .button-well
      = button_tag "Inloggen", class: 'button button-primary', data: {icon: 'K'}
